{% load static %}
{% load url_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Mon Application</title>
    <link rel="stylesheet" type="text/css" href="{% static 'monapp/styles.css' %}">
</head>
<body>
    <header class="header">
        <nav>
            <div class="menu-button">
            Menu
                <div class="menu-content">
                    {% get_urlpatterns as links %}
                    {% for url, name in links %}
                        <a href="{{ url }}">{{ name }}</a>
                    {% endfor %}
                </div>
            </div>
        </nav>
        <h1>Mon Application</h1>
    </header>
    <main>
        {% block content %}
        <!-- Le contenu spécifique à chaque page sera inséré ici -->
        {% endblock %}
    </main>
</body>
</html>