{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'monapp/styles.css' %}">
</head>
<body>
    <button class="dropdown-btn">
        <i class="fa fa-bars"></i>
    </button>
    <div>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'create-client' %}">Create Client</a>
        <a href="{% url 'create-staff' %}">Create Staff</a>
        <a href="{% url 'create-staff-type' %}">Create Staff Type</a>
        <a href="{% url 'view_clients' %}">View Clients</a>
        <a href="{% url 'view_staff' %}">View Staff</a>
        <a href="{% url 'view_staff_types' %}">View Staff Types</a>
    </div>
    <div id="main">
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'monapp/script.js' %}"></script>
</body>
</html>