{% load static %}
{% load url_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Mon Application</title>
    <link rel="stylesheet" type="text/css" href="{% static 'monapp/styles.css' %}">
</head>
<body>
    <header class="header">
        <h1>Mon Application</h1>
        <nav>
            <div class="menu-button">
            Menu
                <div class="menu-content">
                    {% get_urlpatterns as links %}
                    {% for url, name in links %}
                        <a href="{{ url }}">{{ name }}</a>
                    {% endfor %}
                </div>
            </div>
        </nav>
        {% if user.is_authenticated %}
        <p>Logged in as: {{ user.username }}</p>
        <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="menu-button">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}" class="menu-button">Login</a>
        {% endif %}
        
    </header>
    <main>
        {% block content %}
        <!-- Le contenu spécifique à chaque page sera inséré ici -->
        {% endblock %}
    </main>
</body>
</html>