{% extends 'monapp/base.html' %}
{% block content %}
<h1>Book a Flight</h1>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="flight_id" value="{{ flight_id }}">
    <label for="booking_type">Booking Type:</label>
    <select name="booking_type" id="booking_type">
        <option value="">--Select Booking Type--</option> <!-- Blank initial option -->
        <option value="1">First Class</option>
        <option value="2">Second Class</option>
    </select>
    <button type="submit">Book Flight</button>
</form>
{% endblock %}