{% extends 'monapp/base.html' %}
{% block content %}
<h1>Confirm Booking</h1>
<form method="post">
    {% csrf_token %}
    <p>Are you sure you want to confirm this booking ?</p>
    <p>Flight: {{ flight.flight_number }} - Origin: {{ flight.track_origin.airport.location }} - Destination: {{ flight.track_destination.airport.location }}</p>
    <p>Departure: {{ flight.departure }} - Arrival: {{ flight.arrival }}</p>
    <p>Seat Class: {{ booking.booking_type.type }} - Price: {{ booking.booking_type.price }}</p>
    <button type="submit">Confirm</button>
</form>
{% endblock %}