<!DOCTYPE html>
<html>
<head>
    <title>Page d'accueil</title>
</head>
<body>
    <h1>Bienvenue sur la page d'accueil !</h1>
    <nav>
        <ul>
            <li><a href="{% url 'appuser_create' %}">Créer un nouvel utilisateur</a></li>
            <li><a href="{% url 'staff_create' %}">Créer un nouveau membre du personnel</a></li>
            <li><a href="{% url 'booking_create' %}">Créer une nouvelle réservation</a></li>
            <li><a href="{% url 'flight_create' %}">Créer un nouveau vol</a></li>
        </ul>
    </nav>
</body>
</html>