<!-- Django_Frontend/monprojet/monapp/templates/monapp/view_flights.html -->
{% extends 'monapp/base.html' %}

{% block content %}
<h1>Available Flights</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>First Class Capacity</th>
                <th>Second Class Capacity</th>
                <th>Book a Seat</th>
                {% if user.is_staff %}
                    <th>Update</th>
                {% endif %}
                {% if user.is_staff %}
                    <th>Delete</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for flight in flight_details %}
                <tr>
                    <td>{{ flight.flight_number }}</td>
                    <td>{{ flight.origin }}</td>
                    <td>{{ flight.destination }}</td>
                    <td>{{ flight.departure }}</td>
                    <td>{{ flight.arrival }}</td>
                    <td>{{ flight.first_class_capacity }}</td>
                    <td>{{ flight.second_class_capacity }}</td>
                    <td>
                        {% if flight.id %}
                            <a href="{% url 'book_flight' flight.id %}">Book a seat</a>
                        {% else %}
                            Booking Unavailable
                        {% endif %}
                    </td>
                    {% if user.is_staff %}
                        <td>
                            <a href="{% url 'update_flight' flight.id %}">Update</a>
                        </td>
                    {% endif %}
                    {% if user.is_staff %}
                        <td>
                            <a href="{% url 'delete_flight' flight.id %}" onclick="return confirm('Are you sure?');">Delete</a>
                        </td>
                    {% endif %}
                </tr>
            {% empty %}
            {% if user.is_staff%}
                <tr>
                    <td colspan="10">No flights available.</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">No flights available.</td>
                </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}